{% extends "layout.njk" %}

  {% block head %}
    <title>Ocorreu um erro|FoodFy</title>
  {% endblock %}

{% block content %}

   <div class="painel">
    <h1> Eii amigo!! Essa página não pode ser encontrada :/</h1>
  </div>  

{% endblock%}