@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;

  height: 100vh; /* deixa o body com a altura toda da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 100%;
  width: 940px;
  height: 32px;
  padding: 10px;
  margin: 36px auto 30px auto;
  display: flex;
}

header a {
  text-decoration: none;
  margin-left: 30px;
  font-size: 16px;
  color: #111111;
}

header a:hover{
  font-weight: bold;
  color: #000000;
  transition: 800ms;
}

header img {
  margin-right: 100px;
  padding: 0px;
  width: 91px;
  height: 27px;
}

h1 {
  /* max-width: 100%; */
  width: 940px;
  margin: 10px auto;
  font-size: 32px;
  color: #111111;
}

h2 {
  width: 940px;
  margin: 50px auto 0px auto;
  font-size: 24px;
  color: #111111;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;

}

.painel {
  background-color: #fbdfdb;

  max-width: 100%;
  width: 940px;
  height: 366px;
  margin: auto;

  border-radius: 30px;
  display: flex;
}

.painel div {
  width: 316px;
  margin: 117px 248px 211px 60px;
}

.painel img {
  width: 216px;
  height: 300px;
  margin: 66px 100px 0 0;
}

/*=== SOBRE ===*/
.sobre {
  max-width: 100%;
  width: 940px;
  margin: 20px auto 50px auto;
}

.sobre h1{
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}

.sobre h2{
  font-weight: bold;
  font-size: 20px;
  color: #111111;
  margin: 30px auto 20px auto;
}

.sobre p{
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/*=== RECEITAS ===*/
#receitas {
  max-width: 100%;
  width: 940px;
  margin: 20px auto 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.receita{
  display: grid;
}

#receitas .receita img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

#receitas .receita h4 {
  margin: 20px 0 3px 0;
  font-size: 17px;
  opacity: 0.8;
  color: #111111
}

#receitas .receita p {
  font-size: 15px;
  color: #777777;
}

/*=== MODAL ===*/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background: #FFFFFF;
  border-radius: 16px;
  width: 560px;
  height: 313px;
  margin: 355px auto;
  position: relative;
}

.modal .close-modal {
  font-size: 16px;
  color: #999999;
  position: absolute;
  left: 230px;
  bottom: 20px;
  cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content img {
  width: 520px;
  height: 140px;
  position: absolute;
  margin: 20px 20px 0 20px;
}

.modal-content div{
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-content h4{
  font-size: 24px;
  color: #111111;
  position: absolute;
  margin: 190px auto;
}

.modal-content p{
  font-size: 17px;
  color: #777777;
  position: absolute;
  margin: 215px auto;
}
  

/*=== FOOTER ===*/
.footer-box {
  margin-top: 50px;
  display: flex;
  flex: 1;  /* faz com que a div se expanda em toda a altura restante*/
  width: 100%;
  align-items: flex-end;  /* alinhar o footer no rodapé */
}

footer {
  padding: 18px 0;
  background-color: #eeeeee;
  width: 100%;
  text-align: center; 
  
  font-size: 17px;
  color: #999999;
}


/*=== RECIPE PAGE ===*/
.recipe {
  max-width: 100%;
  width: 940px;
  margin: auto;
}

.recipe h2 {
  font-size: 24px;
  color: #111111;
}

.recipe ul, ol {
  margin-left: 18px;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  /* visibility: hidden; */
}

.recipe p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  /* visibility: hidden; */
}

.recipe-card {
  display: grid;
  text-align: center;
  margin: 10px auto;
}

.recipe-card img {
  border-radius: 15px;
  margin-bottom: 28px;
}

.recipe-card h1 {
  font-size: 36px;
  color: #111111;
  margin-bottom: 3px;
}

.recipe-card h5 {
  font-size: 18px;
  color: #777777;
}

.title-ingredients {
  margin-bottom: 20px;
  display: flex;
  flex: 1; 
  width: 50%;
  align-items: flex-end; 
}

.title-ingredients a{
  font-size: 15px;
  color: #999999;
  margin: auto 260px 3px auto;
  text-decoration: none;
  cursor: pointer;

}

.title-preparation {
  margin-bottom: 20px;
  display: flex;
  flex: 1; 
  width: 61%;
  align-items: flex-end; 
}

.title-preparation a{
  font-size: 15px;
  color: #999999;
  margin: auto 310px 3px auto;
  text-decoration: none;
  cursor: pointer;
}

.title-information {
  margin-bottom: 20px;
  display: flex;
  flex: 1; 
  width: 70%;
  align-items: flex-end; 
}

.title-information a{
  font-size: 15px;
  color: #999999;
  margin: auto 330px 3px auto;
  text-decoration: none;
  cursor: pointer;
}

/* === Efeitos de Esconder e Aparecer === */
.list-ingredients.active {
  display: none;
}

.list-preparation.active {
  display: none;
}

.description.active {
  display: none;
}